
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In test</title>


<!--    <script th:src="@{/js/jquery-3.3.1.min.js}" crossorigin="anonymous"></script>-->


    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>


</head>
<body>
<form class="form-signin" th:action="@{/login}" method="post">
    <div class="container col-3 mt-5">
        <h3 class="text-center mb-3">Sign In</h3>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                   aria-describedby="basic-addon1" name="account">
        </div>
        <!--/*@thymesVar id="err" type="String"*/-->
        <p th:text="${err}" ></p>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                   aria-describedby="basic-addon1" name="password">
        </div>
        <button class="btn btn-primary btn-block" type="submit">Go</button>
    </div>
</form>
</body>
</html>
